{{ 'component-floating-button.css' | asset_url | stylesheet_tag }}

<a
  href="https://wa.me/393447703171"
  class="floating-whatsapp"
  target="_blank"
  rel="noopener noreferrer"
  aria-label="Contattaci su WhatsApp"
>
  {%- render 'icon-whatsapp', class: 'floating-whatsapp__icon' -%}
</a>
